{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Правила игры в теннис</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/pravila.css'%}" type="text/css">
	<script src="{% static 'js/app.js' %}" defer></script>	
	<!-- для мобильной версии сайта -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
    <section>
        <div class = "pravila">
            <div class = "text" >
                <h3>Определения, которые могут вам встретиться </h3>
                <b>Гейм– </b>часть теннисной партии (сета), проводится до четырех выигранных очков, при этом разница между очками соперников должна составлять не менее двух очков. <br>
                    <b>Сет– </b>часть теннисного матча, состоит из геймов, проводится до шести выигранных геймов, при этом разница между геймами соперников должна составлять не менее двух геймов. <br>  
                    <b>Тай-брейк</b> – гейм при счете 6:6, играется до 7 выигранных розыгрышей при условии преимущества в два очка, соперники подают по две подачи по очереди. Причем после самой первой подачи в гейме, она переходит к сопернику. <br>
                
                <h3>Определения, которые могут вам встретиться </h3>
                <p> <b>Гейм– </b>часть теннисной партии (сета), проводится до четырех выигранных очков, при этом разница между очками соперников должна составлять не менее двух очков. <br>
                    <b>Сет– </b>часть теннисного матча, состоит из геймов, проводится до шести выигранных геймов, при этом разница между геймами соперников должна составлять не менее двух геймов. <br>  
                    <b>Тай-брейк</b> – гейм при счете 6:6, играется до 7 выигранных розыгрышей при условии преимущества в два очка, соперники подают по две подачи по очереди. Причем после самой первой подачи в гейме, она переходит к сопернику. <br>
                </p>
   

        
            <h3>Правила игры: </h3>
            <p> 
                <ol>
                <li> Начало игры </li>
                    <ul>
                        <li> Перед началом матча проводится жеребьевка </li>
                        <li>Определяется, кто будет подавать первым </li>
                        <li>Выбирается сторона корта</li>
                    </ul>
                <li> Гейм на своей подаче начинается с первого (правого) квадрата корта. Подача осуществляется по диагонали на половину корта соперника. Розыгрыш продолжается до тех пор, пока кто-то не ошибется (не попадает по мячу или не попадет на половину корта соперника)</li>
                <li>  сете выигрывает тот, кто первым наберет 6 геймов с разницей в 2 гейма. Если необходимой разницы нет, теннисисты играют до счета 6:6, после чего играют тай-брейк до 7-и очков, его также можно выиграть только с разницей не менее 2-х очков</li>
                <li> Победа в матче достается тому, кто первым выиграет 2 партии</li>
                <li> По ходу матча игроки подают и принимают по очереди. Также после каждого сыгранного нечетного гейма происходит переход: игроки меняются половинами корта (например, при счете 1:0, 2:1, 3:2 и т.д.)</li>
                </ol> 
            </p>
            <p> <b>Цель тенниса </b> – перебросить мяч на половину корта соперника и выиграть розыгрыш. <br>
                <b>Розыгрыш </b> - это обмен ударами начиная с успешной подачи и заканчивая ошибкой одного из игроков. Розыгрыш состоит минимум из двух ударов: подача и прием. <br>  
            </p>

            

          
                <h3>Правила ввода мяча в игру</h3>
                <p>
                    Гейм на подаче начинается с первого квадрата (справа). Чтобы исполнить подачу, дается 2 попытки. Если игрок два раза совершит ошибку на подаче, ему засчитывается проигрыш розыгрыша.
                    При правильном исполнении подачи мяч должен прилететь с квадрата игрока по диагонали в квадрат соперника, не касаясь троса. Если мяч коснется троса при подаче, но попадет в квадрат соперника – назначается переподача.
                    Исполнять вторую подачу можно неограниченное количество раз. Если же мяч после исполнения подачи не попадает в квадрат, либо попадает в сетку два раза подряд, игроку засчитывается проигрыш очка – двойная ошибка.
                    Игроки подают в матче по очереди, после окончания сета в следующей партии также подает второй теннисист.

                </p>

       

        
                <h3>Введение счета в матче:</h3>
                <p>
                    Теннисный матч играется из трех партий (до двух побед в сетах одним из игроков), или из пяти сетов (до трех побед). Из пяти партий играются только матчи мужского тура.
                    Чтобы выиграть партию, игрок должен набрать в ней 6 геймов при разнице минимум в 2 гейма: 6:4, 6:3 и т.д. Если счет в партии 5:5, то для выигрыша сета придется взять 7 геймов. При счете 6:6 играет тай-брейк до 7-и очков.
                    Решающая партия в теннисе играется в виде тай-брейка до 10-и очков. Чтобы выиграть его, нужно оторваться от соперника минимум на 2 очка: 10:8, 10:7 и т.д. Это основные правила счета в большом теннисе.
                </p>


       
                <h3>Переходы во время матча: </h3>
                <p>
                    Согласно правилам игры в большой теннис, игроки во время матча совершают переход на противоположную половину корта – смену сторон. Переход осуществляется после каждого сыгранного нечетного гейма: после 1-го, 3-го, 5-го и т.д. проведенного гейма.
                    Также переход производится на тай-брейке после каждых 6-и сыгранных розыгрышей: после 6-го, 12-го, 18-го и т.д. Переход производится для того, чтобы игроки были в равных условиях: во время матча на разных сторонах корта условия игры могут отличаться: ветер, солнце в глаза могу сильно мешать одному игроку, и помогать другому.
                    Чтобы нивелировать это преимущество сторонних факторов, производится смена сторон.
                </p>
    

          
                <h3>Спорные моменты: </h3>
                <p>
                    По ходу любого теннисного матча непременно возникают спорные ситуации. В этом случае во избежание конфликта принято переигрывать розыгрыш: результат спорного розыгрыша аннулируется, и игроки переигрывают его по новой.
                    Для уменьшения количества спорных ситуации рекомендуется иметь на матче независимого судью.
                </p>
     

      
                <h3>Перерывы: </h3>
                <p>
                    По ходу любого теннисного матча непременно возникают спорные ситуации. В этом случае во избежание конфликта принято переигрывать розыгрыш: результат спорного розыгрыша аннулируется, и игроки переигрывают его по новой.
                    Для уменьшения количества спорных ситуации рекомендуется иметь на матче независимого судью.
                </p>
        </section>
  <script src="script.js"></script>
    </div>
</body>
</html>

{% endblock content %}